@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html { 
  scroll-behavior: smooth; 
}

/* Custom scrollbar */
::-webkit-scrollbar { 
  width: 6px; 
}
::-webkit-scrollbar-track { 
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb { 
  background: #d32f2f; 
  border-radius: 3px; 
}
::-webkit-scrollbar-thumb:hover { 
  background: #b71c1c; 
}